@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: white; 


}

.header {
    background: linear-gradient(to top, #ca6d41, rgba(172, 104, 40, 0.234)), url(./header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem 1rem;
    background-color:rgb(197, 101, 13);
}

.navbar .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #fff;
}

.navbar .logo span {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
}

.navbar .logo strong {
    font-weight: 700;
    color: #7aa2fa;
}

.navbar .navigation,
.navbar .controls {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    color: #fff;
}

.navbar .navigation .nav-link {
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
}

.navbar .navigation .nav-link:hover {
    color: #dbad4b;
}

.navbar .controls .icon {
    background-color: rgb(197, 101, 13);
    color: #fff;
    width: 42px;
    height: 42px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar .controls .btn {
    background-color: rgb(197, 101, 13);
    color: #fff;
    width: fit-content;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0rem 1.4rem;
    border: 1px solid rgb(197, 101, 13);
}

.navbar .controls .btn:hover {
    background-color: rgb(197, 101, 13);
}

.navbar .controls .icon:hover {
    background-color: rgb(197, 101, 13);
}
.box select {
    height: 40px; 
    padding: 5px;
    font-size: 16px;
  }
  
  .box input[type="number"] {
    height: 40px; 
    padding: 5px;
    font-size: 16px;
  }

  .booking-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(197, 101, 13);
    max-width: 600px;
    margin: 0 auto;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.option {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option.active {
    background-color: rgb(197, 101, 13);
    color: white;
}
#arrival::placeholder, #departure::placeholder {
    color: rgb(197, 101, 13) !important;
}


.option:hover {
    background-color: #ddd;
}

.form {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    margin-right: 10px;
}

.box label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333; 
    display: block;
    margin-bottom: 5px;
}

.box input, .box select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: rgb(197, 101, 13); 
    transition: border-color 0.3s ease;
}

.box input:focus, .box select:focus {
    border-color: rgb(197, 101, 13); 
}


#departing, #returning {
    max-width: 200px;
    color: rgb(197, 101, 13);
}

.scroll-t, .scroll-b {
    overflow-x: auto;
}

  
.header .content {
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem 1rem;
}


.content .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 900px;
}

.content .head h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.content .head .subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ccc;
    text-align: center;
    padding: 0rem 2rem;
}

.header .booking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    background-color: #ffffff77;
    padding: 1rem;
}

.header .booking-box .options {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;
}

.header .booking-box .options .option {
    padding: 0.75rem 2rem;
    background-color: #ffffffaa;
    cursor: pointer;
}

.header .booking-box .options .option {
    border: 1px solid #fff;
    padding: 0.75rem 2rem;
    background-color: #ffffff52;
    font-size: 0.85rem;
    font-weight: 500;
    color: #000d2e;
}

.header .booking-box .options .option.active,
.header .booking-box .options .option:hover {
    border: 1px solid rgb(197, 101, 13);
    background-color: rgb(197, 101, 13);
    color: #fff;
}

.header .booking-box .form {
    width: 100%;
    background-color: #ffffffaa;
    padding: 1rem 0.5rem;

}

.header .booking-box .form .line {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;

}

.header .booking-box .form .line-r {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1rem;

}

.header .booking-box .form .line-r .btn {
    background-color:rgb(197, 101, 13);
    color: #fff;
    width: fit-content;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.75rem 2.4rem;
    border: 1px solid rgb(197, 101, 13);
}

.header .booking-box .form .line-r .btn:hover {
    background-color: rgb(240, 154, 74);
}

.header .booking-box .form .box {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0rem;
    border-bottom: 5px solid rgb(197, 101, 13);
    color: #fff;
}

.header .booking-box .form .box label {
    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(197, 101, 13);
    text-transform: capitalize;
}

.header .booking-box .form .box input {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid transparent;
    color: rgb(197, 101, 13);
}

.header .booking-box .form .box input:hover {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(197, 101, 13);
}


section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .heading {
    width: 100%;
}

section .heading .title {
    width: 100%;
    max-width: 500px;
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
}

section .heading .desc {
    width: 100%;
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #555;
}


section .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.about .items {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}

.about .items .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.about .items .item .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about .items .item .image img {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    height: fit-content;
    object-fit: cover;
}

.about .items .item .title {
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(197, 101, 13);
}

.about .items .item .desc p {
    padding-right: 2rem;
    font-size: 1.05rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: rgb(197, 101, 13);
}

.about .items .item .list {
    padding: 2rem 0rem;
    width: 90%;
}

.about .items .item .list ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .item .list ul p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #555;
}

.about .items .item .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.4rem 0rem;
}

.about .items .item .controls .icon {
    height: 40px;
    width: fit-content;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.97;
    transition: all 1s;
}

.about .items .item .controls .icon:hover {
    opacity: 1;
}

.about .items .item .controls .icon img {
    height: 100%;
    width: fit-content;
    object-fit: cover;
}


.services {
    background-color: #f7f7f7;
    grid: inline;
}
.services {
    background-color: #f7f7f7;
}

.services .items {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}

.services .items .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    padding: 1.2rem 1rem;
    background-color: #fff;
    box-shadow: 2px 2px 4px #ccc;
}

.services .items .item .image {
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.services .items .item .image img {
    width: fit-content;
    min-width: 111%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transform: scale(1);
    cursor: pointer;
    transition: all 1s;
}

.services .items .item:hover .image img {
    transform: scale(1.2);
}

.services .items .item .title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #111;
}

.services .items .item p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #444;
    padding: 0.35rem 0rem;
}

.services .items .item .btn {
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-weight: 400;
    color: #000;
    background-color: rgb(197, 101, 13);
    padding: 0.76rem 2.2rem;
    margin-top: 0.75rem;
    cursor: pointer;
    transition: all 1s;
}

.services .items .item .btn:hover {
    color: #fff;
    background-color:rgb(197, 101, 13);
}



.reviews {
    background-color: rgb(197, 101, 13);
    position: relative;
    overflow: hidden;
}

.reviews::after {
    position: absolute;
    content: '';
    right: 0;
    width: 100vh;
    height: 55vw;
    background-color: rgb(197, 101, 13);
    z-index: 0;
}

.reviews .container {
    position: relative;
    z-index: 10;
}

.reviews .heading .title {
    color: #fafafa;
}

.reviews .heading .desc {
    color: #aaa;
    font-size: 1.3rem;
    line-height: 1.8rem;
    max-height: 6rem;
    overflow: hidden;
}


.reviews .items {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}

.reviews .items .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    padding: 1.2rem 1rem;
    background-color: #070707;
    box-shadow: 2px 2px 4px #070707;
}

.reviews .items .item .image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .items .item .image img {
    width: 120px;
    height: 120px;
    border: 4px solid #000d2e;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.reviews .items .item .username {
    font-size: 1.1rem;
    font-weight: 500;
    color: #aaa;
    text-align: center;
}

.reviews .items .item p {
    padding: 1rem 0rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #999;
    text-align: center;
}

.reviews .items .item .stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0rem;
}

.reviews .items .item .stars .icon {
    font-size: 1.2rem;
    color: rgb(197, 101, 13);
    cursor: pointer;
}

.reviews .items .item .stars .icon:hover,
.reviews .items .item .stars .icon.active {
    color: rgb(197, 101, 13);
}

.contact .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}

.contact .items .item {
    width: 100%;
    height: 100%;
    max-height: 550px;
    overflow: hidden;
}

.contact .heading .socials {
    display: flex;
    gap: 1rem;
    padding: 2rem 0rem;
}

.contact .heading .socials .s-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(197, 101, 13);
}

.contact .heading .socials .s-link:hover {
    background-color: rgb(197, 101, 13);
}

.contact .items .item .map {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.footer {
    background-color: rgb(197, 101, 13);
}

.footer .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.footer .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.2rem;
    padding: 1rem 0rem;
}

.footer .item {
    width: 100%;
    overflow: hidden;
}

.footer .item .head {
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid rgb(197, 101, 13);
    color: #fff;
}

.footer .item .head h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
}

.footer .item .head .logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.footer .item .head .logo span {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
}

.footer .item .head .logo strong {
    font-size: 1.4rem;
    font-weight: 700;
    color: #7aa2fa;
}

.footer .item .body {
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
}

.footer .item .body .links {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.25rem;
}

.footer .item .body .links li,
.footer .item .body .links li a {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.footer .item .body .links li a {
    text-transform: capitalize;
}

.footer .item .body .links li a:hover {
    color: #fff;
}

.footer .item .body p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #f0f0f0;
    padding: 0.5rem 0rem;
}

.footer .item .form {
    width: 100%;
}

.footer .item .form .box {
    margin-top: 2rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(197, 101, 13);
    display: flex;
}

.footer .item .form .box input {
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 0.25rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(197, 101, 13);

}

.footer .item .form .box button {
    width: fit-content;
    background-color: rgb(197, 101, 13);
    border: 1px solid white;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    cursor: pointer;
}

.footer .rights {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    color: #fff;
    background-color: rgb(241, 152, 68);
}

.footer .rights p {
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-weight: 300;
    color: #fff;
}

.footer .rights a {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: rgb(197, 101, 13);
}

.footer .rights a:hover {
    text-decoration: underline;
}

#bars {
    position: absolute;
    padding: 1rem;
    background-color: rgb(241, 152, 68);
    display: none;
}

.bars {
    display: none !important;
}
.btn-signup{
    display: flex !important;
}

@media (max-width:870px) {
    .btn-signup{
        display: none !important;
    }
    .bars {
        display: flex !important;
    }
    .navigation {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 50vh;
        transition: height 1s;
        z-index: -1;
    }

    #bars:checked~.navigation {
        background-color: #000;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: height 3s;

    }

    .content .head h1 {
        font-size: 2rem;
       margin-top: 5rem;
    }
    
    .content .head .subtitle {
        font-size: 1rem;
        width: 100%;
        padding: 0px;
        
    }
    .navbar .logo span {
        font-size: 1rem;
    }
    
    
}

section,header,footer,.items{
    max-width: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}